<!DOCTYPE html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>oracle</title>
    <meta content="" name="description" />
    <meta content="Author" name="humber" />
    <link href="assets/images/favicon.png" rel="icon" />
    <link href="assets/images/favicon.png" rel="apple-touch-icon" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- ========================================================= -->
    <link rel="stylesheet" href="{% static 'app1/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app1/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app1/assets/css/datatables.min.css' %}"  />
    <link rel="stylesheet" href="{% static 'app1/assets/css/style.css' %}"  />
  </head>

  <body>
    <header class="header_part">
      <h4>oracle patches</h4>
    </header>
    <!-- =======  Data-Table  = Start  ========================== -->
    <div class="container">
      <div class="row">
        <form method="POST" class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">
            Load data from url
          </button>
        </form>
        <p>https://www.oracle.com/security-alerts/cpujan2023.html</p>
        <h1>Oracle Database Server Risk Matrix</h1>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="data_table">
            <table id="example" class="table table-striped table-bordered">
              <thead class="table-dark">
                <tr>
                  <th scope="col">CVE ID</th>
                  <th scope="col">Component</th>
                  <th scope="col">Package and/or Privilege Required</th>
                  <th scope="col">Protocol</th>
                  <th scope="col">Remote Exploit without Auth.?</th>
                  <th scope="col">Base Score</th>
                  <th scope="col">Attack Vector</th>
                  <th scope="col">Attack Complex</th>
                  <th scope="col">Privs Req'd</th>
                  <th scope="col">User Interact</th>
                  <th scope="col">Scope</th>
                  <th scope="col">Confid- entiality</th>
                  <th scope="col">Inte- grity</th>
                  <th scope="col">Avail- ability</th>
                  <th scope="col">Supported Versions Affected</th>
                </tr>
              </thead>
              <tbody>
                {% for i in response %}
                <tr>
                  <td>{{i.col0}}</td>
                  <td>{{i.col1}}</td>
                  <td>{{i.col2}}</td>
                  <td>{{i.col3}}</td>
                  <td>{{i.col4}}</td>
                  <td>{{i.col5}}</td>
                  <td>{{i.col6}}</td>
                  <td>{{i.col7}}</td>
                  <td>{{i.col8}}</td>
                  <td>{{i.col9}}</td>
                  <td>{{i.col10}}</td>
                  <td>{{i.col11}}</td>
                  <td>{{i.col12}}</td>
                  <td>{{i.col13}}</td>
                  <td>{{i.col14}}</td>
                  <td>{{i.col15}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>


            
          </div>
        </div>
      </div>
    </div>
    <!-- =======  Data-Table  = End  ===================== -->
    <!-- ============ Java Script Files  ================== -->
  
    <script  src="{% static 'app1/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app1/assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'app1/assets/js/datatables.min.js' %}"></script>
    <script src="{% static 'app1/assets/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'app1/assets/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'app1/assets/js/custom.js' %}"></script>
  </body>
</html>
